/* Global Variables ----------------------------------------------------------*/
* {
  font-family: "Open Sans", sans-serif;
}
html {
  width: 900px;
  margin: 0 auto;
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
}
section {
  margin: 75px auto;
}
.btn {
  margin: 20px auto;
  background: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.btn {
  color: black;
}
.btn:hover {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
}

/* Navigation ----------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background: rgb(0,159,193);
  background: linear-gradient(90deg, rgba(0,159,193,1) 0%, rgba(0,85,128,1) 100%);
  padding: 0 40px;
  margin: 40px auto 0;
}
header h1 {
  font-size: 1.5rem;
  margin: 0.75rem 0;
}
header a {
  width: 200px;
  text-decoration: none;
  color: white;
}
header ul a:hover {
  text-decoration: underline;
}
header ul {
  text-align: right;
  width: 300px;
  padding: 0;
}
header li {
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
}

/* Title ---------------------------------------------------------------------*/
.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.title-content {
  text-align: right;
  width: 500px;
}
.title img {
  width: 250px;
}
.title h1 {
  font-size: 3rem;
  margin: 0;
  animation-name: titleLoad;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes titleLoad {
  from {
    opacity: 0;
    transform: translateY(6%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* About --------------------------------------------------------------------------*/
.about {
  margin: 75px auto;
  content: "";
  clear: both;
  display: table;
}
.about img {
  width: 250px;
  float: left;
  margin: auto 50px;
}
.about h2 {
  margin: 0;
}

/* Projects ------------------------------------------------------------------*/
.project-item {
  margin: 75px auto;
  content: "";
  clear: both;
  display: table;
}
.project-item img {
  width: 250px;
  float: left;
  margin: auto 50px;
}
.project-item h2 {
  margin: 0;
}
.project-item:nth-of-type(2) img {
  float:right;
}
.project-item:nth-of-type(2) .project-content {
  text-align: right;
}


/* Footer --------------------------------------------------------------------*/
footer {
  margin-bottom: 75px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style-type: none;
  display: inline-block;
}
footer img {
  width: 25px;
}
#icon-attribution {
  font-size: 10px;
}
