body {
    background-color: #01014f;
    margin:auto;
    max-width: 700px;
}

header, footer, #main {
    color: white;
    padding: 25px 0px;
}

#nav {
    display: inline;
}

#box {
    margin: 20px auto;
    width: 90%;
    border: 15px solid white;
    padding: 0px 20px;
}

#main {
    width: 44%;
    display: inline-block;
    padding: 60px 0px;
    vertical-align: middle;
}

footer img {
    width: 30px;
    border-radius: 10px;
}

footer a {
    padding: 0px 5px;
}

p, ul, h3, table{
    color: white;
    font-family: "Open Sans", sans-serif;
}

h1, h2 {
    font-family: "Roboto Slab", serif;
}

#nav a {
    color: white;
    font-family: "Source Code Pro", monospace;
    text-decoration:none;
}

#nav a:hover {
    text-decoration: underline;
}

#nav a:active {
    color:gray;
}

#location {
    color: darkgray;
}

#names {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

#headshot {
    border-radius: 20px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

#content {
    background-color: white;
    padding: 40px;
}

table {
    width: 100%;
}

#content h1, h2, h3, #content p, #content a, table, ul{
    color: black;
}

#content a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

.img1 {
    float:left;
    margin-right: 30px;
}

.img2 {
    float:right;
    margin-left: 30px;

}

#photo {
    overflow: auto;
    margin-bottom: 30px;
}

#contact {
    margin:auto;
    text-align: center;
    padding: 100px;
}
