html {
  background-color: #72ff59;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-size: 1.3em;
}
.home-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}
.title {
  background-image: url("../img/leaves.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
h1 {
  font-size: 115px;
}
h2 {
  font-size: 80px;
}
.title h1 {
  font-size: 115px;
  color: #72ff59;
  margin: 0 auto;
  width: 350px;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  flex-wrap: nowrap;
  margin: auto;
  width: 30%;
}
#results-title {
  text-align: center;
  margin: 120px auto;
}
.result-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
#tableContainer {
  width: 35%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #00a210 #72ff59;
  height: 250px;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table, th, td {
  padding: 4px 6px;
}
th, td {
  border-bottom: 1px solid black;
}
tr:nth-child(even) {
  background-color: #13cb00;
}
tr:hover {
  background-color: #54A83C;
}
.results-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 25px 25px;
  margin: 50px auto;
}
a {
  text-decoration: none;
}
label, .reset-button {
  background: #00a210;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  text-align: left;
  border: none;
  padding: 0 20px;
  height: 50px;
  margin: 100px auto 0;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 175px;
}
label {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 100px auto 0;
}
label p {
  color: white;
}
.reset-button {
  text-align: center;
  color: white;
  font-size: 1.3em;
}
label:hover, button:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .home-flex {
    display: block;
  }
  .title {
    background-image: url("../img/leaves-mobile.png");
    background-position: bottom;
    background-size: 100%;
    height: 30%;
    width: 100%;
  }
  h1 {
    width: 100% !important;
    text-align: center
  }
  .home-content {
    width: 80%;
    margin-top: 25%;
  }
  .home-content p, table, #resultsTotal, .reset-button {
    font-size: 3em;
  }
  label {
    margin-top: 25%;
    height: 5em;
  }
  label img {
    width: 50px;
    height: 40px;
  }
  .reset-button {
    width: 50%;
    height: 90px;
  }
  .result-flex {
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
  }
  #tableContainer {
    width: 100%;
  }
  table {
    width: 100%;
  }
  #resultsTotal {
    margin-top: 20%;
  }
}

/* @media screen and (max-width: 741px){
  main {
    width: 85%;
    margin: 0 auto;
  }
  .medium-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 100px 0;
  }
  .medium-flex div {
    max-width: 40%;
  }
}

@media screen and (min-width: 742px) {
  .large-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .large-flex div {
    max-width: 40%;
  }
} */
